<HTML>
  <head>
    <title>Timeline Demo Krowdskout</title>

	<script src="http://d3js.org/d3.v2.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/moment.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/timeline.js') }}"></script>
  </head>

  <body>
    <h1>Timeline Demo Krowdskout</h1>
	
	<div id="chart"></div>

  </body>

        <script type="text/javascript" src="{{ url_for('static', filename='example.js') }}"></script>

</HTML>

