
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="../static/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="../static/css/style.css"> <!-- Resource style -->
	<script src="../static/js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>Krowdskout Timeline Demo</title>
</head>
<body>
	<header>
		<h1>Krowdskout Timeline Demo</h1>
	</header>

	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="../static/img/cd-icon-location.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>1 person walked in</h2>
				<p>Equinox Union St - Current Occupancy: 23 people</p>
				<a href="#0" class="cd-read-more">More info</a>
				<span class="cd-date">August 10th 2015, 11:38:23 pm</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<img src="../static/img/cd-icon-location.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>3 people walked out</h2>
				<p>Equinox Union St - Current Occupancy: 20 people</p>
				<a href="#0" class="cd-read-more">More info</a>
				<span class="cd-date">August 10th 2015, 11:38:55 pm</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<img src="../static/img/cd-icon-location.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>1 person walked out</h2>
				<p>Equinox Union St - Current Occupancy: 21 people</p>
				<a href="#0" class="cd-read-more">More info</a>
				<span class="cd-date">August 10th 2015, 11:52:14 pm</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="../static/img/cd-icon-location.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>2 people walked in</h2>
				<p>Equinox Union St - Current Occupancy: 23 people</p>
				<a href="#0" class="cd-read-more">More info</a>
				<span class="cd-date">August 11th 2015, 12:21:02 am</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="../static/img/cd-icon-location.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>1 person walked in</h2>
				<p>Equinox Union St - Current Occupancy: 24 people</p>
				<a href="#0" class="cd-read-more">More info</a>
				<span class="cd-date">August 11th 2015, 12:23:11 am</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="../static/img/cd-icon-location.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>1 person walked in</h2>
				<p>Equinox Union St - Current Occupancy: 25 people</p>
				<span class="cd-date">August 11th 2015, 12:23:11 am</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
	</section> <!-- cd-timeline -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../static/js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>
